<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-09-22T17:46:22Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cha-ji/Git/OpenGL/ch04_01_Cube/ch04_01_Cube.xcodeproj</string>
</dict>
</plist>
